@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

html{
    background-color: #fafafa !important;
}
body{
    background-color: #fafafa;
    min-height: 100vh !important;
    overflow-y: scroll;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ciap{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100ch;
    /* white-space: nowrap; */
}

.nama{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9ch;
    white-space: nowrap;
}

@variants responsive {
    .masonry-3-col {
        column-count: 3;
        column-gap: 1em;
    }
    .masonry-2-col {
        column-count: 2;
        column-gap: 1em;
    }
    .masonry-1-col {
        column-count: 1;
        column-gap: 1em;
    }
    .break-inside {
        break-inside: avoid;
    }
}